body {
    font-family: Arial, Helvetica, sans-serif;
}

/* set style for user's input email and password */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 12px;
    margin: 17px 0px;
    line-height: 2;
    display: inline-block;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    box-sizing: border-box;
    cursor:text
}

/* set style for submit button */
button {
    background-color: #B0E0E6;
    border: 2px solid #ADD8E6;
    color: #000;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    border-radius: 5px;
}
/* effect when click on submit button */
button:hover {
    opacity: 2;
    background-color: #ADD8E6;
    cursor: pointer;
}

/* set style for container */
.container{
    padding: 18px;
}

