@font-face {
  font-family: Halant;
  src: url(fonts/Halant-Regular.ttf) format("truefont");
  font-display: swap;
}

@font-face {
  font-family: Halant;
  src: url(fonts/Halant-Bold.ttf) format("truefont");
  font-weight: bold;
}

@font-face {
  font-family: NunitoSans;
  src: url(fonts/NunitoSans-Regular.ttf) format("truefont");
}

@font-face {
  font-family: NunitoSans;
  src: url(fonts/NunitoSans-Bold.ttf) format("truefont");
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}

header, footer{
  font-family: "Halant", serif;
}

.column {
  float: left;
  display: inline-block;
  width: 50%;
}

/*HEADER */
header{
  color: white;
  background-color: black;
  overflow: hidden;
  padding: 1em 0em;
}

header a{
  color: white;
}

#logo{
  display: inline;
  height: 5em;
}

.navbar{
  overflow: hidden;
  margin: auto 5em;
}

.navbar h1{
  display: inline-block;
}

.navbar ul{
  list-style-type: none;
  text-align: right;
  padding: 0.5em;
}

footer a{

}

footer .navbar ul{
  text-align: center;
}

.navbar li{
  align-items: center;
  display:inline;
}

.navbar a{
  font-size: 1.4em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover{
  color: #b5b5b5;
}

/* Main */

main{
  font-family: NunitoSans, sans-serif;
}

.content {
  margin: 1.5em;
  text-align: center;
}  


/* Footer */
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.newsletter{
  padding-left: 20px;
  font-size: 15px;
}
#newsletter , #submit{
  font-size: 20px;
}



/* .container {
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 112px;
} */

.copyright{
  font-size: 18px;
  padding: 1em;
  text-align: center;
}
