main{
  width: 100%;
}

.as_header{
  margin: 1.5em;
  padding: 20px;
  text-align: center;
  /* border: 1px solid hsl(0, 0%, 80%); */
}
.as_container{
  margin: auto;
  text-align: center;
}
.as_content{
    margin: 1.5em;
    padding: 20px;
    text-align: left;
    border: 1px solid hsl(0, 0%, 80%);
  }

@media only screen and (max-width: 400px){
  .as_content{
    margin: 0em;
  }
}

/* Store */
.footer_store{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile img {
  width: 300px;
  height: 300px;
  object-fit: fill;
}

.as_content h2{
  margin-bottom: 16px;
}
.as_content, .profile{
  position: relative;
  display: inline-block;
}
/* .as_content img{
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
}

.as_content ul{
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  font-size: 20px;
}

@media only screen and (max-width: 840px){
  .as_content img, .as_content ul{
    display: block;
    margin: auto;
    text-align: center;
    list-style: none;
  }

  .as_content ul{
    margin-top: 16px;
  }

  .as_content h2{
    text-align: center;
  }
} */
