.namebrowsing, .catbrowsing{
  border-top: 1px solid gray;
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

h2{
  text-align: left;
  margin: 20px 0px;
}

/* BROWSE BY NAME */
.namebrowsing{
  text-align: center;
  padding: 16px;
  white-space: nowrap;
}

.namebrowsing form{
  text-align: center;
}

.namebrowsing a{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.page_select{
  text-align: center;
}
.page_select a{
  margin: 20px;
  font-size: 20px;
}

/* BROWSE BY Category */
.catbrowsing{
  text-align: left;
  padding: 16px;
}

.catbrowsing input[type="submit"]{
  border: 1px solid gray;
  padding: 10px;
}

.catbrowsing input[type="submit"]:hover{
  color: grey;
  cursor: pointer;
}

#store_type{
  margin: 10px 0px;
  font-size: 20px;
  width: 90%;
  min-width: 150px;
  height: 50px;
}

#search{
  display: none;
}

.store_list{
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.store_list li{
  padding-top: 20px;
  border-bottom: 1px solid gray;
}

.store_list ul{
  list-style: none;
}

.store_list img{
  display: block;
  margin: auto;
  width: 200px;
}

.store_list a{
  color: black;
  vertical-align: middle;
}

.store_list a:hover{
  color: gray;
}

.product_list{
  margin-left: 10px;
  /* display: none; */
  text-align: left;
  font-size: 20px;
}

.product_list img{
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.product_list a{
  color: black;
  text-decoration: none;
}

.product_list a:hover{
  color: gray;
}

.product_list > ul > li{
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

.product_list ul{
  vertical-align: middle;
  display: inline-block;
  list-style: none;
}

#search:checked ~ .store_list, #search:checked ~ .product_list{
  display: block;
}

@media only screen and (max-width: 1350px){
  .namebrowsing{
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 350px) {
  .namebrowsing, .catbrowsing{
    width: 90%;
  }
}

.browse_footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.subsec{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
