.header {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.header h2{
    color: rgb(9, 66, 221);
    text-decoration-line: underline;
}
.monthly_fee, .member_fee{
    overflow-x: scroll;
    margin: auto;
    padding: 10px;
    /* border: 1px solid hsl(0, 0%, 80%); */

}
.table1,.table2{
    width: 100%;
    min-width: 670px;
}

.table1, th, td, .table2{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}
.header .member_fee .table2 .level{
    text-decoration-line:underline ;
}
td{
    font-size: 18px;
}

.note{
    font: 20px;
}

.fees_footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
