.content .row{
  margin: 0em 0em;
}

.content .row a{
  color: black;
}

.scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.column4 {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  width: 20%;
  margin: 13px;
  padding: 2em 0em;
  min-width: 200px;
}

.column4 img{
  width: 200px;
  height: 200px;
  object-fit: fill;
  display: inline-block;
}

.column4 a:hover{
  color: grey;
}

.column4 ul{
  display: inline-block;
}

.column2 {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  width: 40%;
  min-width: 200px;
  margin: 13px;
  padding: 2em 0em;
}

@media only screen and (max-width: 1300px){
  .column4{
    width: 40%
  }
}

@media only screen and (max-width: 600px){
  .content .row{
    overflow-x: scroll;
    white-space: nowrap;
  }
}
