.content .row{
  margin: 0em 0em;
}

.column4 {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  width: 20%;
  margin: 13px;
  padding: 5em 0em;
}

@media only screen and (max-width: 1000px){
  .column4{
    width: 40%
  }
}
