.login {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 3em;
  text-align: left;
}

@media only screen and (max-width: 700px){
  .login{
    width: 70%;
  }
}

.login p{
  margin: 5px 0px;
}

.login a{
  color: #141414;
}

.login a:hover{
  color: #858585;
}

.login input[type="button"]{
  border: 0px;
  background: black;
  color: white;
  font-size: 18px;
}

.login input[type="button"]:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 50%);
}


.register{
  margin: 20px 20%;
}

@media only screen and (max-width:1400px){
  .register .column{
    width: 100%;
  }

  .register{
    margin: 20px 3px;
  }

  .register .row{
    margin: 0em 2em;
  }

  #personal{
    padding-top: 20px;
  }
}

.register .row{
  margin-top: 20px;
}

.register input[type="radio"]{
  margin-left: 5px;
}

.register h2{
  margin-top: 10px;
}

.register input{
  max-width: 200px;
}

.profile {
  text-align: left;
}

.profile p{
  font-size: 16px;
  margin-bottom: 16px;
}

.profile #pf{
  width: 30%;
  min-width: 130px;
}


.alert,.alert_email,#alert_name,#alert_address{
  /* display: none; */
  color: red;
}


@media only screen and (max-width: 800px){
  .profile .column{
    width: 100%;
  }
}

