.footer_store{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.product_content , .recomended_products{
    margin: 1.5em;
    padding: 20px;
    text-align: left;
    border: 1px solid hsl(0, 0%, 80%);
}
.product_pic img{
    text-align: center;
    display: inline-block;
    border: 1px solid grey;
    width: 20%;
    margin: 13px;
    min-width: 200px;
}
@media only screen and (max-width: 1300px){
    .product_pic{
      width: 40%
    }
  }

#add_msg{
  display: none;
  vertical-align: middle;
  padding: 5px;
  color: #c94b4b;
}

.description {
    font-size: 20px;
    margin: 16px;
}

.description li{
  border-bottom: 1px solid lightgray;
}

.price{
    font-weight: bold;
}

.order{
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 10px;
    background-color: #eb4034;
    font-size: 25px;
    text-decoration: none;
    vertical-align: middle;
}

.order:hover{
  color: lightgray;
  background-color: #b5362d;
  cursor: pointer;
}
