@font-face {
  font-family: "Halant";
  src: url("../fonts/Halant-Regular.ttf");
}

@font-face {
  font-family: "Halant";
  src: url("../fonts/Halant-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}

html{
  min-height: 100%;
}

header, footer{
  font-family: "Halant", serif;
  padding: 1em 0em;
}

header {
  /* background-color: #e6ba29; */
  background-color: #faa68c;
}
.img_logo{
    padding-right: 80px;
    vertical-align: middle;
    width: 125px;
    height: 125px;
}

header h1{
  font-size: 50px;
}

header a{
  text-decoration: none;
  color: #361807;
}

.navbar{
  text-align: right;
  font-size: 30px;
}

.navbar a:hover{
  color: #5c534f;
}

.navbar ul{
  list-style: none;
}

.navbar li{
  position: relative;
  display: inline-block;
  padding: 16px 15px;
}

li ~ .hidden_menu {
  padding: 0px;
  display: none;
}

.hidden_menu input[type="checkbox"]{
  display: none;
}

.navbar label{
  color: #361807;
}

.navbar label:hover{
  color: #5c534f;
  cursor: pointer;
}

#product_sub, #product_sub_bot{
  display: none;
}

.hidden_menu label:hover{
  cursor: pointer;
}

.hidden_menu img:hover{
  filter: opacity(0.7);
}

.menu_box{
  background-color: white;
  min-width: 100px;
  text-align: center;
  display: none;
  position: absolute;
  right: 0px;
  z-index: 1;
  padding: 5px;
}

#product_sub ~ .menu_box, #product_sub_bot ~ .menu_box{
  right: 20px;
}

.menu_box a{
  border-bottom: 1.5px solid black;
  display: block;
}

.menu_box label{
  border-bottom: 1.5px solid black;
  display: block;
}

.menu_box a:hover{
  background-color: lightyellow;
}

li input[type="checkbox"]:checked ~ .menu_box{
  display: block;
}

@media only screen and (max-width: 1250px){
  .navbar{
    font-size: 23px;
  }
  .navbar li{
    padding: 20px 12px;
  }
}

@media only screen and (max-width: 1100px){
  .navbar ul li > a, .navbar ul li > label[for="product_sub"], .navbar ul li > label[for="product_sub_bot"]{
    display: none;
  }

  .navbar li{
    padding: 0px;
  }
  li ~ .hidden_menu {
    display: inline-block;
    padding: 16px 15px;
  }
}

/* BODY */
main{
  width: 100%;
  margin: auto;
  font-family: "NunitoSans", sans-serif;
}

.subsec {
  margin: 30px 0px;
  padding: 20px;
  border: 1px solid grey;
}

.subsec h1{
  text-align: center;

}

.row {
  margin: 0em 5em;
}

.scroll,.scroll1{
  overflow-x: scroll;
  white-space: nowrap;
}

.column {
  display: inline-block;
  width: 49%;
}

.column4 {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  width: 20%;
  margin: 13px;
  padding: 2em 0em;
  min-width: 200px;
}

.column4 a{
  color: black;
}

.column4 a:hover{
  color: grey;
}

.column4 img{
  width: 200px;
  height: 200px;
  object-fit: fill;
  display: inline-block;
}

@media only screen and (max-width: 600px){
  main{
    width: 100%;
  }

  .subsec h1{
    font-size: 25px;
  }

  .row{
    margin: 0em 1.5em;
  }
}


/* Footer */
footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .navbar{
  margin: 0em 3.5em;
}

@media only screen and (max-width: 600px){
  footer .navbar{
    margin: 0em 0.5em;
  }
}

footer a, footer .navbar label{
  text-decoration: none;
  color: black;
}

footer .menu_box{
  bottom: 55px;
}

#copyright {
  text-align: center;
  font-size: 22px;
}

#cookie{
  padding: 25px 20px;
  z-index: 10;
  width: 275px;
  background-color: white;
  /* border: 1px solid black; */
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position: fixed;
  bottom: 15px;
  right: 20px;
}
#cookie h2{
  color: black;
  margin-bottom: 10px;
}

#cookie p{
  margin: 10px 0px;
}

#cookie input[type="button"]{
  background-color: rgb(248, 215, 66);
  font-weight: bold;
  border: 0px;
  padding: 13px 16px;
}

#cookie input[type="button"]:hover{
  background-color: rgb(216, 187, 58);
  cursor: pointer;
}