@font-face {
  font-family: "Halant";
  src: url("../fonts/Halant-Regular.ttf");
}

@font-face {
  font-family: "Halant";
  src: url("../fonts/Halant-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}

header, footer{
  font-family: "Halant", serif;
  padding: 1em 0em;
}

.row {
  overflow: hidden;
  margin: 0em 5em;
}

.column {
  float: left;
  width: 50%;
}

/*HEADER */
header{
  color: white;
  background-color: black;
  overflow: hidden;
}

header .navbar a{
  color: white;
}

#logo{
  padding-right: 80px;
  vertical-align: middle;
  height: 100px;
}

header h1, a{
  display: inline;
  text-decoration: none;
}

.navbar {
  height: 100px;
}

.navbar > ul{
  list-style-type: none;
  text-align: right;
  padding: 2em;
}

.navbar > ul > li{
  display:inline;
}

.navbar a{
  font-size: 1.4em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover{
  color: #b5b5b5;
}

.sub-container input{
  display: none;
}

.sub-container label{
  display: none;
  font-size: 1.4em;
}

.sub-container label:hover{
  color: #b5b5b5;
  cursor: pointer;
}

.sub-menu{
  display: none;
  background-color: black;
  position: absolute;
  right: 100px;
  z-index: 1;
}

.sub-container #menu-top:checked ~ .sub-menu{
  display: block;
}

.sub-menu a{
  float: none;
  border-bottom: 1px solid white;
  display: block;
  font-size: 20px;
  min-width: 200px;
}

.sub-container #menu-bot:checked ~ .sub-menu{
  display: block;
}

footer .sub-menu{
  background-color: white;
  bottom: 140px;
}

footer .sub-menu a{
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 1470px){
  .navbar ul li > a{
    display: none;
  }
  .sub-container label{
    display: block;
  }
}


/* Main */

main{
  width: 80%;
  margin: auto;
  font-family: "NunitoSans", sans-serif;
}

@media only screen and (max-width: 1000px){
  main {
    width: 100%;
  }
  .row {
    margin: 0em 1em;
  }
}

.content {
  margin: 1.5em;
  padding: 20px;
  text-align: center;
  border: 1px solid hsl(0, 0%, 80%);
}

.content form{
  text-align: left;
}

.content h2{
  margin-bottom: 6px;
}

input{
  padding: 1px 6px;
  margin: 8px 0px;
  font-size: 16px;
}

input[type="email"], input[type="text"], input[type="password"], input[type="number"]{
  width: 45%;
  min-width: 100px;
}

/* Footer */
footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a{
  color:black
}

footer .row{
  padding: 1em 0em;
}

@media only screen and (max-width: 650px){
  footer .column{
    width: 100%;
  }

  footer .navbar{
    border: 1px solid gray;
  }

}

.newsletter{
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
}
#newsletter , #submit{
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#newsletter{
  max-width: 200px;
}

.copyright{
  font-size: 18px;
  text-align: center;
}
